html,
body {
  margin: 0;
  overflow: hidden;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  padding: 10px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

form label {
  font-size: 20px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  letter-spacing: 2px;
  color: hsl(0, 0%, 23%);
}

form label.hue {
  margin-inline-start: 20px;
  margin-inline-end: 1px;
}

form input[type="checkbox"] {
  margin-block-start: 4px;
}
canvas {
  border: black 1px dashed;
}
